@charset "utf-8";
/*------------------------------------------------------------
	index
------------------------------------------------------------*/
body {
	padding-bottom: 0;
}

#main .contentBox {
	float: right;
	border-left: 1px solid #DDD;
	width: 98%;
}

#main .content {
	width: 96%;
	padding: 10px 0;
	margin: 0 auto;
}