@charset "utf-8";
/*------------------------------------------------------------
	index
------------------------------------------------------------*/
body {
	height: 100%;
	width: 100%;
	padding: 0;
	/*position: absolute;
	left: 0;
	top: 0;*/
	background-color: #f9f9f7;
	/*background-image: -webkit-gradient(	linear,	left bottom,left top,color-stop(0, #DDD),color-stop(1, #000));
	background-image: gradient(	linear,	left bottom,left top,color-stop(0, #DDD),color-stop(1, #000));*/
}

.section {
	width: 380px;
	margin: 0 auto;
	padding-top: 180px;
}

h1 {
	font-size: 26px;
	color: #000;
	/*text-shadow: 3px 3px 2px #777;*/
	text-align: center;
	margin: 0 20px 10px;
}

h2 {
	font-size: 20px;
	color: #666;
	margin-bottom: 20px;
	line-height: 36px;
	letter-spacing: 2px;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 4px;
}

h2 span {
	display: block;
	border-bottom: 2px solid #e1e1e1;
}

.loginBox {
	margin: 0 auto;
	background-color: #fbfbfb;
	border: 1px solid #e1e1e1;
	padding: 20px 30px;
}

.loginBox li {
	padding-bottom: 15px;
	position: relative;
}

.loginBox li input {
	width: 99%;
	border-radius: 5px;
	text-indent: 40px;
}

.loginBox li:last-child input {
	text-indent: 0;
}

.loginBox li .icon {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1px;
	top: 1px;
	background-color: #ededed;
	text-align: center;
	line-height: 27px;
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #DDD;
}

/*.loginBox dl {
	color: #666;
	margin-bottom: 10px;
}

.loginBox dt {
	font-size: 15px;
	padding: 5px 0;
	float: left;
	width: 86px;
	line-height: 30px;
}

.loginBox dt:first-child {
	letter-spacing: -1.5px;
}

.loginBox dd {
	padding: 5px 0 5px 86px;
}

.loginBox dd input {
	width: 100%;
}

.loginBox dd input:hover {
	border: 1px solid #95b7ee;
}

.loginBox dd .code {
	width: 70px;
	padding-left: 10px;
}

.loginBox .btnBox {
	text-align: center;
}

.loginBox .btnBox input {
	border-radius: 4px;
	width: 80px;
	margin: 0 15px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #086), color-stop(1, #096));
	height: 30px;
	color: #FFF;
	border: none;
	font-size: 15px; 
	cursor: pointer;
}

.loginBox .btnBox input:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,#096), color-stop(1, #076));
}*/