@charset "utf-8";
/*------------------------------------------------------------
	index
------------------------------------------------------------*/
#main h3 {
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
}

#main h3 .ttlBox {
	float: left;
}

#addPro,
#addFriend,
#transfer {
	border: 1px solid #DDD;
	background-color: #FFF;
	border-radius: 10px;
	width: 600px;
	height: 520px;
	top: 50%;
	left: 50%;
	margin: -260px 0 0 -300px;
	position: fixed;
	padding: 10px 10px 20px;
	z-index: 25;
	overflow: hidden;
}

#addPro {
	height: 120px;
	margin: -60px 0 0 -300px;
}

#addPro form {
	margin-bottom: 20px;
}

#addPro .btnBox {
	text-align: center;
}

#addFriend {
	width: 400px;
	height: 240px;
	overflow: hidden;
}

#addFriend .listUl li {padding-right: 10px;}

#addPro h1,
#addFriend h1,
#transfer h1 {
	border-bottom: 1px solid #DDD;
	font-size: 16px;
	text-align: center;
	padding-bottom: 5px;
}

#addFriend h1,
#transfer h1 {
	text-align: left;
	margin-bottom: 10px;
}

#addPro h1 .winClose,
#addFriend h1 .winClose,
#transfer  h1 .winClose {
	/*background-color: #F00;
	color: #FFF;*/
	float: right;
	font-weight: normal;
	width: 30px;
	cursor: pointer;
	text-align: center;
}

#addPro .title {
	border-bottom: 1px solid #DDD;
	padding: 6px 10px;
	font-size: 15px;
}

#addPro .infoDl {
	margin-bottom: 10px;
}

#addPro .textInput {
	width: 460px;
	float: left;
}

#addPro .infoDl dd {
	padding: 10px 20px;
}

#addPro .title span {
	line-height: 32px;
	margin-right: 10px;
}

#addFriend p {
	font-size: 13px;
	margin-bottom: 10px;
}

#transfer {
	width: 220px;
	height: 120px;
	overflow: hidden;
	margin: -60px 0 0 -110px;
}

#transfer p {
	font-size: 13px;
}

#transfer .textInput {
	width: 200px;
	margin: 10px 0;
	font-size: 14px;
}