@charset "utf-8";
/*------------------------------------------------------------
	index
------------------------------------------------------------*/
#conts {
	padding-top: 30px;
}

#conts dl {
	font-size: 15px;
	line-height: 30px;
	width: 60%;
	margin: 0 auto;
}

#conts dt {
	/*float: left;
	width: 80px;*/
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}

#conts dd {
	padding: 0 0 20px;
}

#conts dd .textInput {
	width: 100%;
	height: 35px;
	line-height: 35px;
}

#conts dd textarea {
	height: 140px;
}

#conts dd select {
	width: 99%;
	height: 35px;
	line-height: 35px;
	border: 1px solid #DDD;
	border-radius: 5px;
	text-indent: 10px;
}

#conts .fileBox {
	position: relative;
}

#conts .fileInput {
	opacity: 0;
	width: 100px;
	height: 38px;
	position: absolute;
	left: 0;
	bottom: 0;
}

#conts .fileBox .btn {
	background-color: #FFF;
	border: 1px solid #096;
	color: #000;
}

#conts .btn01 {
	background-color: #F36;
}

#conts dd:last-child {
	padding-bottom: 0;
	text-align: center;
}

#conts dd:last-child input {
	margin: 0 10px;
}