@charset "utf-8";
/*------------------------------------------------------------
	index
------------------------------------------------------------*/
.borderBox table {
	width: 600px;
}

.borderBox td .textInput {
	width: 98%;
	height: 30px;
	text-indent: 1em;
	border-radius: 5px;
	border: 1px solid #DDD;
}

.borderBox th {
	font-weight: normal;
	text-align: right;
}

#mailChange,
#mailConfrim {
	z-index: 200;
	width: 420px;
	height: 70px;
	background-color: #FFF;
	margin: 0 auto;
	position: fixed;
	padding: 20px;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -230px;
	border-radius: 10px;
}

#mailChange .linkBox {
	margin-top: 18px;
}

#mailChange .textInput {
	width: 300px;
	line-height: 30px;
	height: 30px;
}

#mailChange .btn {
	padding: 6px;
	width: 94px;
}

#mailChange .linkBox {
	text-align: right;
	font-size: 13px;
}

#mailChange .linkBox a {
	color: #666;
	margin: 0 10px;
}

#mailChange .linkBox a:hover {
	text-decoration: underline;
}

#mailConfrim .textInput {
	width: 390px;
}

#mailConfrim {height: 100px;}

.btnBox {
	margin: 18px 0 10px;
}

#mailConfrim p {font-size: 12px;}

